@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:lightgray;">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Home Page</h1>
        <h4 class="">Secure Login 2</h4>
    </div>

    <div class="text-center">
        <br /><hr /><br />
        <p>
            Secure Login offers 2 accounts: Admin & Member<br />
            Admin panel can only be accessed by a user with admin access.<br />
            Member panel can be accessed by a user with member or admin access.<br />
            Both panels require the user to be logged in.
        </p>
    </div>
</body>